.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 10px 15px;
  border: 3px solid rgba(172, 7, 248, 0.8);
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.5);
  margin: 20px auto 0 auto;
}

.search input.srch {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  color: white;
  font-size: 1rem;
  padding: 8px 12px;
}

.search i {
  margin-left: 10px;
  color: white;
  cursor: pointer;
}
